In [3]:
## 주가 데이터 수집 전에 db에서 티커 데이터 불러오기 ##
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('mysql+pymysql://root:8019@127.0.0.1:3306/stock_db')
query = """
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker)
and 종목구분 = '보통주';
"""

ticker_list = pd.read_sql(query, con=engine)
engine.dispose()

In [2]:

from dateutil.relativedelta import relativedelta # 날짜 
import requests as rq
from io import BytesIO
from datetime import date

i=0
ticker = ticker_list['종목코드'][i] #첫번째 종목 선택
fr = (date.today() + relativedelta(years = -5)).strftime("%Y%m%d")#5년전 부터
to = (date.today()).strftime("%Y%m%d")

In [3]:

url = f"""https://api.finance.naver.com/siseJson.naver?symbol={ticker}&requestType=1
&startTime={fr}&endTime={to}&timeframe=day"""

data = rq.get(url).content
data_price = pd.read_csv(BytesIO(data))

In [4]:
#동영상에서 알려준 방법으로는 제대로 크롤링 안되는 모습... 
#갑자기 성공?
data_price

,[['날짜','시가','고가','저가','종가','거래량','외국인소진율'],Unnamed: 7
0,"[""20180912""",11600.0,11700.0,11350.0,11600.0,80433.0,9.55],NaN
1,"[""20180913""",11550.0,11700.0,11400.0,11500.0,73528.0,9.5],NaN
2,"[""20180914""",11500.0,11550.0,11200.0,11350.0,102381.0,9.48],NaN
3,"[""20180917""",11300.0,11300.0,11000.0,11050.0,135163.0,9.3],NaN
4,"[""20180918""",10950.0,11100.0,10800.0,10950.0,92846.0,9.21],NaN
...,...,...,...,...,...,...,...,...
1230,"[""20230907""",9930.0,10120.0,9840.0,10010.0,94312.0,4.72],NaN
1231,"[""20230908""",10020.0,10300.0,9980.0,10220.0,95167.0,4.79],NaN
1232,"[""20230911""",10290.0,10430.0,10160.0,10340.0,103741.0,4.9],NaN
1233,"[""20230912""",10330.0,10470.0,10250.0,10250.0,72004.0,4.9],NaN
1234,],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#정규 표현식을 통한 클랜징
import re

#필요한 열만 선택
price = data_price.iloc[:, 0:6]

#columns 이름 변경
price.columns = ['날짜', '시가', '고가', '저가', '종가', '거래량']

#nan 값 날리기
price = price.dropna()

#날짜 데이터
price['날짜'] = price['날짜'].str.extract('(\d+)')
price['날짜'] = pd.to_datetime(price['날짜'])

#종목코드
price['종목코드'] = ticker

In [6]:
##### 모든 종목 주가 데이터 크롤링 #####
import pymysql
from sqlalchemy import create_engine
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta
import requests as rq
import time
from tqdm import tqdm
from io import BytesIO

#DB 연결
con = pymysql.connect(user='root',
                       passwd = '8019',
                       host = '127.0.0.1',
                       db = 'stock_db',
                       charset = 'utf8')

mycursor = con.cursor()

#티커리스트 불러오기
ticker_list = pd.read_sql("""
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker)
    and 종목구분 = '보통주';
""", con=engine)

# DB 저장 쿼리
query = """
    insert into kor_price (날짜, 시가, 고가, 저가, 종가, 거래량, 종목코드)
    values (%s,%s,%s,%s,%s,%s,%s) as new
    on duplicate key update
    시가 = new.시가, 고가 = new.고가, 저가 = new.저가,
    종가 = new.종가, 거래량 = new.거래량;
"""

In [7]:
#오류 발생시 저장할 리스트 생성
error_list = []

In [8]:
for i in tqdm(range(0, len(ticker_list))):

    #티커 선택
    ticker = ticker_list['종목코드'][i]

    #시작일과 종료일
    fr = (date.today() + relativedelta(years = -5)).strftime("%Y%m%d")#5년전 부터
    to = (date.today()).strftime("%Y%m%d")


    try:
        #url 생성
        url = f"""https://api.finance.naver.com/siseJson.naver?symbol={ticker}&requestType=1
        &startTime={fr}&endTime={to}&timeframe=day"""

        #데이터 다운로드
        data = rq.get(url).content
        data_price = pd.read_csv(BytesIO(data))

        #데이터 클렌징
        price = data_price.iloc[:, 0:6]
        price.columns = ['날짜', '시가', '고가', '저가', '종가', '거래량']
        price = price.dropna()
        price['날짜'] = price['날짜'].str.extract('(\d+)')
        price['날짜'] = pd.to_datetime(price['날짜'])
        price['종목코드'] = ticker

        #주가 데이터를 DB에 저장
        args = price.values.tolist()
        mycursor.executemany(query, args)
        con.commit()

    except:

        # 오류 발생시 error_list에 티커 저장하고 넘어가기
        print(ticker)
        error_list.append(ticker)

    #타임슬립 적용
    time.sleep(2)

  0%|          | 0/2413 [00:00<?, ?it/s]

  1%|▏         | 34/2413 [01:26<1:42:04,  2.57s/it]

000700

  1%|▏         | 35/2413 [01:28<1:35:26,  2.41s/it]

000720

 39%|███▉      | 942/2413 [40:06<1:01:42,  2.52s/it]

051390

 39%|███▉      | 943/2413 [40:08<57:51,  2.36s/it]

051490

 39%|███▉      | 944/2413 [40:10<55:19,  2.26s/it]

051500

100%|██████████| 2413/2413 [1:40:09<00:00,  2.49s/it]

In [25]:
#에러 티커
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('mysql+pymysql://root:8019@127.0.0.1:3306/stock_db')

query = """
select distinct 종목코드 from kor_price;
"""

ticker_list2 = pd.read_sql(query, con=engine)
engine.dispose()

In [26]:
set1 = set(ticker_list['종목코드'])
set2 = set(ticker_list2['종목코드'])

print(len(set1))
print(len(set2))


set3 = set1.difference(set2)

print(set3)

2413
2410
{'051390', '051500', '051490'}